.headerContainer {
    display: flex;
    flex-direction: column;
    margin-block: 2.5rem;
    gap: 2.5rem;
    align-items: center;
    max-width: 80%;
    margin-left: 10%;
}

.headerTitle{
    font-size: 2rem;
}

.headerNav {
    display: flex;
    gap: 6rem;
    justify-content: space-between;
}

.headerAchor {
    color: var(--gray-50);
    font-size: var(--font-size-label);
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    transition: 1s;
}

.headerAchor:hover{
    color: var(--gray-450);
    scale: calc(1.1);
}

.headerButton{
    transition: 1s;
    background-color: var(--brand-color-1);
    font-size: var(--font-size-label);
    cursor: pointer;
    width: 7.1875rem;
    height: 2.5rem;
    border-radius: var(--button-radius);
    color: var(--gray-50);
}

.headerButton:hover{
    background-color: var(--brand-color-2);
    scale: calc(1.1);
}

@media (min-width: 800px) {
    .headerContainer{
        flex-direction: row;
        justify-content: space-between;
        max-width: 70%;
        margin-left: 15%;
    }
}