.tecnologieItem {
    display: flex;
    gap: 1.5rem;
    width: 100%;
    height: 5.375rem ;
    align-items: center;
    border: 1px solid var(--gray-50 );
    border-radius: 1.5625rem;
    cursor: grab;
    box-sizing: border-box;
    min-width: 20.125rem;
    padding: 2.5rem;
    transition: 1s;
}

.tecnologieItem:hover { 
    scale: calc(1.1);
}

.tecnologieImg {
    width: 1.75rem;
    height: 1.9375rem;
}

.tecnologieName {
    font-size: var(--font-size-t3);
    font-weight: 600;
}

@media (min-width: 800px) {
    .tecnologieItem {
        justify-content: flex-start;
        min-width: 30%;
        max-width: 30%;
    }
}