:root {
    --brand-color-1: #6880FF;
    --brand-color-2: #7C91FF;

    --gray-900: #000000;
    --gray-450: #888888;
    --gray-50: #FFFFFF;

    --font-weight-titles-link: bold;
    --font-weight-label-p: regular;
    
    --font-size-t1: clamp(3rem, 3.107rem + -0.536vw, 2.625rem);
    --font-size-t2: clamp(2.5rem, 2.571rem + -0.357vw, 2.25rem);
    --font-size-t3: 1.375rem;
    --font-size-label: .875rem;
    --font-size-link-p: 1rem;

    --button-radius: .75rem;
    --button-border: .0625rem;
}